.slider {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.sliderContent {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  display: block;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}
